  <center>
  <form id="del" method="post" action="delivery/delivery">
    <h2>
    Delivery Details
  </h2>
    <p style="text-align: left; font-weight: bold;">Street & Appartment Number:</p>
    <input type="text" class="form-control" name="streetNumber" maxlength="10" placeholder="1/1 or 1A or 1" value="{{streetNumber}}" required></input>
    <p style="text-align: left; font-weight: bold;">
    Street Name:</p>
    <input type="text" class="form-control" name="streetName" maxlength="30" placeholder="Fake St" value="{{streetName}}" required></input>
    <p style="text-align: left; font-weight: bold;">
    Suburb:</p>
    <input type="text" class="form-control" name="suburb" maxlength="20" placeholder="Ultimo" value="{{suburb}}" required></input>
    <p style="text-align: left; font-weight: bold;">
    Postcode:</p>
    <input type="number" class="form-control" name="postcode" maxlength="4" placeholder="2100" value="{{postcode}}" required></input>
    <p style="text-align: left; font-weight: bold;">
    State:</p>
    <select class="form-control" name="state" value="{{state}}" required>
      <option value="NSW">NSW</option>
      <option value="QLD">QLD</option>
      <option value="VIC">VIC</option>
      <option value="TAS">TAS</option>
      <option value="WA">WA</option>
      <option value="SA">SA</option>
      <option value="NT">NT</option>
    </select>
  <br>
  <input type="submit" value="Submit Address">
</form>
</center>
