<div class="row" align="center">
  <div class="card card-body">
    <h3 class="text-center">Privilege Management</h3>
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
        .tg td{padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
        .tg th{font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
        .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
        .tg .tg-abip{background-color:#f9f9f9;border-color:inherit;text-align:center;vertical-align:top}
        .tg .tg-dzk6{background-color:#f9f9f9;text-align:center;vertical-align:top}
    </style>
    <div>
      <div style="display: inline-block">
      <table class="tg">
        <tr>
          <th class="tg-c3ow" colspan="6">Users</th>
        </tr>
        <tr>
          <td class="tg-abip">First name</td>
          <td class="tg-abip">Last name</td>
          <td class="tg-abip">Email</td>
          <td class="tg-abip">Privilege level</td>
          <td class="tg-abip">Edit</td>
          <td class="tg-abip"></td> <!--save button -->
        </tr>
        <tr>
          {{#each users as |user|}}
          <form action="/users/privilege/{{user.id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <td class="tg-c3ow" name="firstname">{{user.firstname}}</td>
            <td class="tg-c3ow" name="lastname">{{user.lastname}}</td>
            <td class="tg-c3ow" name="email">{{user.email}}</td>
            <td class="tg-c3ow" name="privilegeLevel">{{user.privilege}}</td>
            <td class="tg-c3ow" name="privilege">
              <select name="privilege" value="4">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </td>
            <td class="tg-c3ow"><button type="submit" class="btn btn-success">Save</button></td>
        </tr>
        </form>
        {{/each}}
      </table>
    </div>
    <div style="display: inline-block; vertical-align: top;">
      <h6>Search</h6>
      <form action="/users/privilege/" method="get">
        <input type="text" name="searchEmail" placeholder="Search by email...">
        <button type="submit" class="btn btn-success">Search</button>
      </form>
    </div>
    </div>
      <br>
    <div display="inline" margin="5px">
      <a href="/">
        <button class="btn btn-success">Home</button>
      </a>
    </div>
  </div>
</div>
